*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // define 1 rem
}

body {   
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)),
}