// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #D9E8D8;
$color-secondary-light: #f3f7f2;
$color-secondary-dark: #b5d1b3;

$loading-first-color: #4c86f9;
$loading-second-color: #49a84c;
$loading-third-color: #f6bb02;
$loading-fourth-color: #f6bb02;
$loading-fifth-color: #2196f3;

$color-white: #fff;
$color-grey: #777;

// FONT
$default-font-size: 1.6rem;

// SPEED ANIMATION

$speed-of-animation: 0.9s;
