.home {    
    text-align: center;
}

.title {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    font-size: 5rem;
    font-weight: 900;
    margin-top: 1rem;
    -webkit-text-stroke: 1px $color-white;
    -webkit-text-fill-color: $color-primary-dark;
    
    span {
        font-size: 8rem;
        font-weight: 900;
        background-clip: text;
        background-image: url('../../img/map.png');
        background-size: 150%;        
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px $color-primary-dark;
    }
}

.infoBoard {
    width: 70%;
    height: 70%;    
    border-radius: 3px; 
    background-color: $color-white;
    margin: auto;
    padding: 3rem;
    box-shadow:
    12.4px 12.1px 10px rgba(0, 0, 0, 0.03),
    99px 97px 80px rgba(0, 0, 0, 0.06);
    
    &__inputs {
        position: relative;
        margin: auto;
        max-width: 60rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;       
    }

    &__map {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3rem;

        &-img {
            min-width: 35rem;
            height: 30rem;
            background-color: $color-primary;            
        }

        &-text {
            font-size: $default-font-size;
            min-width: 20rem;

            & > p {
                text-align: justify;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
    }
}

