.loading {      
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    gap: .6rem;
    height: 5rem;

        span {
            width: .4rem;
            height: 5rem;
            background: $loading-first-color;
            animation: scale $speed-of-animation ease-in-out infinite; 

            &:nth-child(2) {
                background: $loading-second-color;
                animation-delay: -0.7s;
            }
            &:nth-child(3) {
                background: $loading-third-color;
                animation-delay: -0.7s;
            }
            &:nth-child(4) {
                background: $loading-fourth-color;
                animation-delay: -0.6s;
            }
            &:nth-child(5) {
                background: $loading-fifth-color;
                animation-delay: -0.5s;
            }
        }

        &__home {
            position: relative;
            top: 50vh;
            transform: translateY(-50%);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 9rem;
            gap: .8rem;
            height: 9rem;

        span {
            width: .6rem;
            height: 9rem;
            background: $loading-first-color;
            animation: scale $speed-of-animation ease-in-out infinite; 

            &:nth-child(2) {
                background: $loading-second-color;
                animation-delay: -0.7s;
            }
            &:nth-child(3) {
                background: $loading-third-color;
                animation-delay: -0.7s;
            }
            &:nth-child(4) {
                background: $loading-fourth-color;
                animation-delay: -0.6s;
            }
            &:nth-child(5) {
                background: $loading-fifth-color;
                animation-delay: -0.5s;
            }
        }
        }
        
   }


